{% extends 'base.html' %}

{% block title %}
Ethan Concannon
{% endblock %}

{% block content %}
<div class='container-fluid' style='background-color:#0C181D'>
  <div class='container'>
    <div class='p-5'>
      <header>
        <h1 class='display-1'>Ethan Concannon</h1>
      </header>
      <hr>
    </div>
</div>

<div class='container-fluid' style='background-color:#12232B'>
  <div class='container'>
    <h1>About Me</h1>
    <!-- <hr/> -->
    <p>I am a student at the University of Michigan studying computer science,
       mathematics, and political science.</p>
  </div>
</div>
{% endblock %}
